.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
*.swp
venv/
env/
*.egg-info/
*.log
*.bak
*.tmp
*.log
download_log.txt
!goodbyedpi.exe
!fackrkn.ico
!russia-blacklist.txt
!russia-youtube.txt
